* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    background: #090909;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    opacity: 0.4;
}

.manifesto {
    margin-top: 120px;
}


.intro {
    margin-left: 8vw;
    margin-bottom: 40px;
    font-size: 24px;
}



.deconstruct {
    position: relative;
    height: 300px;
    font-size: 10vw;
    font-weight: bold;
    overflow: hidden;
}

.deconstruct span {
    position: absolute;
    white-space: nowrap;
}

.deconstruct span:nth-child(1) {
    top: 0;
    left: 8vw;
}

.deconstruct span:nth-child(2) {
    top: 90px;
    left: 42vw;
    opacity: 0.3;

    color: transparent;
    -webkit-text-stroke: 1px white;
}

.deconstruct span:nth-child(3) {
    top: 180px;
    left: 70vw;
    opacity: 0.15;

    color: transparent;
    -webkit-text-stroke: 1px white;
}



.incites {
    margin-left: 8vw;
    margin-bottom: 40px;

    font-size: 40px;
    font-weight: bold;
}



.suspicion {
    position: relative;
    height: 520px;
    overflow: hidden;
}

.suspicion span {
    position: absolute;

    left: 40vw;

    font-size: 8vw;
    font-weight: bold;

    white-space: nowrap;
}

.suspicion span:nth-child(1) {
    top: 0;
    opacity: 0.08;
}

.suspicion span:nth-child(2) {
    top: 80px;
    opacity: 0.15;
}

.suspicion span:nth-child(3) {
    top: 160px;
    opacity: 0.25;
}

.suspicion span:nth-child(4) {
    top: 240px;
    opacity: 0.4;
}

.suspicion span:nth-child(5) {
    top: 320px;
    opacity: 0.6;
}

.suspicion .main-suspicion {
    top: 385px;
    left: 30vw;

    font-size: 11vw;
    opacity: 1;
}



.rich {
    margin-right: 8vw;
    text-align: right;

    font-size: 30px;
    opacity: 0.6;
}



.experiences {
    position: relative;
    height: 430px;
    margin-top: 30px;
    overflow: hidden;
}

.experiences span {
    position: absolute;

    font-size: 15vw;
    font-weight: bold;

    white-space: nowrap;
}

.experiences span:nth-child(1) {
    top: 0;
    left: 5vw;

    color: transparent;
    -webkit-text-stroke: 1px white;

    opacity: 0.2;
}

.experiences span:nth-child(2) {
    top: 100px;
    left: 10vw;

    color: transparent;
    -webkit-text-stroke: 1px white;

    opacity: 0.5;
}

.experiences span:nth-child(3) {
    top: 200px;
    left: 15vw;
}